<div class="row">
  <div class="col-md-9 pull-left">
    <ul class="nav nav-tabs">
      <li role="presentation" class="nav active" [ngClass]="{active:homeActive}">
        <a href="" [routerLink]="['']" (click)="selectTab($event, false)">{{ 'menu_home' | translate }}</a>
      </li>
      <li role="presentation" *ngFor="let safe of safeList" class="nav active" [ngClass]="{active:safe.active}">
        <a href="" [routerLink]="['/safe', safe.name]" title="{{safe.description}}" (click)="selectTab($event, safe)">
          <i class="fa fa-lock" aria-hidden="true" *ngIf="!safe.safeKey"></i>
          <i class="fa fa-unlock" aria-hidden="true" *ngIf="safe.safeKey"></i>
          {{safe.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-3" *ngIf="oauth">
    <my-oauth2-connect #oauth2
      [serverUri]="oauth.serverUri"
      [clientId]="oauth.clientId"
      [responseType]="oauth.responseType"
      [redirectUri]="oauth.redirectUri"
      [scope]="oauth.scope"
      [authorizePath]="oauth.authorizePath"
      [tokenPath]="oauth.tokenPath"
      [storage]="oauth.storage">
      <div class="text-right input-group" style="padding-right: 10px;">
        <select [(ngModel)]="curLang" (ngModelChange)="changeLang()" class="form-control">
          <option *ngFor="let lang of langs" [value]="lang.code" [innerHtml]="lang.display"></option>
        </select>
        <span class="input-group-btn">
          <button type="button" (click)="lockAll()" class="btn btn-default" [title]="'lock_all_safe' | translate">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </button>
          <button type="button" *ngIf="oauth2.accessToken" (click)="oauth2.logOut()" class="btn btn-default" [title]="'log_out' | translate">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
          <button type="button" *ngIf="!oauth2.accessToken" (click)="oauth2.logIn()" class="btn btn-default" [title]="'log_in' | translate">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </my-oauth2-connect>
  </div>
</div>
<router-outlet></router-outlet>
