<div class="row" *ngIf="connected">
  <div class="col-md-12 input-group text-right" style="padding-right: 10px;">
    <span class="input-group-btn">
      <button data-toggle="tooltip" [title]="'add_safe' | translate" type="button" class="btn btn-default" (click)="addSafe()" *ngIf="!noProfile">
        <i class="fa fa-plus"></i>
      </button>
      <button data-toggle="tooltip" [title]="'edit_profile' | translate" type="button" class="btn btn-default" (click)="editProfile()">
        <i class="fa fa-user"></i>
      </button>
    </span>
  </div>
</div>

<div class="row text-center">
  <h1>Hutch</h1>
  <div class="well" *ngIf="!loading && !!profile.fortune">
    <img [src]="profile.picture" [alt]="'alt_profile_picture' | translate">
    <hr>
    <h3 [innerHtml]="profile.fortune" class="text-success"></h3>
    <hr>
    <h4><a [innerHtml]="'profile_why_this_message' | translate" [title]="'profile_why_this_title' | translate" href="" (click)="showWhyProfileModal($event)"></a></h4>
  </div>

  <div class="well" *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only" [innerHtml]="'load_profile' | translate"></span>
  </div>
  <div *ngIf="!connected">
    <h2 [innerHtml]="'connect_message' | translate" class="text-info"></h2>
  </div>
  <div *ngIf="connected && noProfile">
    <h2 [innerHtml]="'set_profile_message' | translate" class="text-info"></h2>
  </div>
</div>
