<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-right" style="padding-right: 10px;">
      <my-oauth2-connect #oauth2
        *ngIf="oauth"
        [serverUri]="oauth.serverUri"
        [clientId]="oauth.clientId"
        [responseType]="oauth.responseType"
        [redirectUri]="oauth.redirectUri"
        [scope]="oauth.scope"
        [authorizePath]="oauth.authorizePath"
        [tokenPath]="oauth.tokenPath"
        [storage]="oauth.storage">
        <div class="input-group">
          <select [(ngModel)]="curLang" (ngModelChange)="changeLang()" class="form-control">
            <option *ngFor="let lang of langs" [value]="lang.code" [innerHtml]="lang.display"></option>
          </select>
          <span class="input-group-btn">
            <button data-toggle="tooltip" [title]="'add_safe' | translate" type="button" class="btn btn-default" (click)="addSafe()" *ngIf="!noProfile && connected">
              <i class="fa fa-plus"></i>
            </button>
            <button data-toggle="tooltip" [title]="'edit_profile' | translate" type="button" class="btn btn-default" (click)="editProfile()" *ngIf="connected">
              <i class="fa fa-user"></i>
            </button>
            <button type="button" (click)="lockAll()" class="btn btn-default" [title]="'lock_all_safe' | translate" *ngIf="connected">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </button>
            <button type="button" *ngIf="oauth2.accessToken" (click)="oauth2.logOut()" class="btn btn-default" [title]="'log_out' | translate">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
            <button type="button" *ngIf="!oauth2.accessToken" (click)="oauth2.logIn()" class="btn btn-default" [title]="'log_in' | translate">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </my-oauth2-connect>
    </div>
  </div>
</div>

<div class="row text-center">
  <h1>Hutch</h1>
  <div class="well" *ngIf="!loading && !!profile.fortune">
    <img [src]="profile.picture" [alt]="'alt_profile_picture' | translate">
    <hr>
    <h3 [innerHtml]="profile.fortune" class="text-success"></h3>
    <hr>
    <h4><a [innerHtml]="'profile_why_this_message' | translate" [title]="'profile_why_this_title' | translate" href="" (click)="showWhyProfileModal($event)"></a></h4>
  </div>

  <div class="well" *ngIf="loading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only" [innerHtml]="'load_profile' | translate"></span>
  </div>
  <div *ngIf="!connected">
    <h2 [innerHtml]="'connect_message' | translate" class="text-info"></h2>
  </div>
  <div *ngIf="connected && noProfile">
    <h2 [innerHtml]="'set_profile_message' | translate" class="text-info"></h2>
  </div>
</div>
