<div class="row">
  <div class="col-xs-12 input-group text-right" style="padding-right: 10px;">
    <span class="input-group-btn">
      <button data-toggle="tooltip" title="Add safe" type="button" class="btn btn-default" (click)="addSafe()">
        <i class="fa fa-plus"></i>
      </button>
      <button data-toggle="tooltip" title="Edit profile" type="button" class="btn btn-default" (click)="editProfile()">
        <i class="fa fa-user"></i>
      </button>
    </span>
  </div>
</div>

<h1>Hutch</h1>
<div class="well" *ngIf="!loading">
  <img [src]="picture" alt="Your image here">
  <hr>
  <h3 class="label label-info" [innerHtml]="fortune"></h3>
</div>

<div class="well" *ngIf="loading">
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
